_ReSharper.*
bin/
obj/
*.user
*.suo
*~
*.swp
*.orig
*.nupkg
*ncrunch*
*crunch*.local.xml
*.cache
src/packages/*
PackageBuild/*
Build/*
Release/*
src/Humanizer.Tests/ApiApprover/PublicApiApprovalTest.approve_public_api.received.txt
*.tss
src/TestResults/*
# Roslyn's metadata directory
*.sln.ide/