<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <XUnitPath>tools\xunit</XUnitPath>
  </PropertyGroup>
  <PropertyGroup>
    <ReleaseFolder>Release</ReleaseFolder>
  </PropertyGroup>
  <ItemGroup>
    <BuildOutput Include="Src\Humanizer\bin\Release\Humanizer.dll" />
    <BuildOutput Include="Src\Humanizer\bin\Release\Humanizer.XML" />
  </ItemGroup>
  <ItemGroup>
    <ProjectToBuild Include="Src\*.sln" />
  </ItemGroup>
  <!-- Expand build output files AFTER the build has run. 
       Note that the Build Task MUST BE defined by the file that includes this file. -->
  <Target Name="GetTestAssemblies" DependsOnTargets="Build">
    <ItemGroup>
      <TestAssemblies Include="**\bin\Release\*.Tests.dll" />
    </ItemGroup>
  </Target>
</Project>
