<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiApprover" version="1.1.0" targetFramework="net40" />
  <package id="ApprovalTests" version="3.0.5" targetFramework="net40" />
  <package id="ApprovalUtilities" version="3.0.5" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
  <package id="xunit.extensions" version="1.9.1" targetFramework="net40" />
</packages>