<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="myget.org aspnetrc2" value="https://www.myget.org/F/aspnetrc2/api/v3/index.json" />        
    <add key="xunit" value="https://www.myget.org/F/xunit/api/v3/index.json" /> 
    <add key="CI Builds (Humanizer)" value="https://www.myget.org/F/humanizer/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>