<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>WinExe</OutputType>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>enable</Nullable>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <RestorePackagesPath>__PACKAGES_PATH__</RestorePackagesPath>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Humanizer" Version="__PACKAGE_VERSION__" />
  </ItemGroup>
</Project>
